
services:
  db:
    image: postgres:18.1
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db-data:/var/lib/postgresql
volumes:
  db-data:



#      Для Redis:
#
#      healthcheck:
#        test: [ "CMD", "redis-cli", "ping" ]

#services:
#  db-init:
#    image: flyway
#    command: migrate
#    depends_on:
#      db:
#        condition: service_healthy