
services:
  db:
    image: postgres:18.1
    container_name: postgres-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db-data:/var/lib/postgresql
  pgadmin:
    image: dpage/pgadmin4
    container_name: my-pgadmin
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_LISTEN_ADDRESS: 0.0.0.0
    depends_on:
      db:
          condition: service_healthy
    volumes:
      - pgadmin-data:/var/lib/pgadmin
volumes:
  db-data:
  pgadmin-data:



#      Для Redis:
#
#      healthcheck:
#        test: [ "CMD", "redis-cli", "ping" ]

#services:
#  db-init:
#    image: flyway
#    command: migrate
#    depends_on:
#      db:
#        condition: service_healthy